<app-navbar></app-navbar>
<div class="register-container">
  <div class="registerov">
    <div class="register-overlay">
      <form class="register-form" [formGroup]="regis" (ngSubmit)="register()">
        <h2>Create Account</h2>

        <div class="input-group">
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" name="name" placeholder="Enter your full name" formControlName="name" />
          <span *ngIf="regis.get('name')?.touched && regis.get('name')?.invalid" style="color: red;">Invalid Name</span>
        </div>

        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" formControlName="email" />
          <span *ngIf="regis.get('email')?.touched && regis.get('email')?.invalid" style="color: red;">Invalid Email</span>
        </div>

        <div class="input-group">
          <label for="email">Age</label>
          <input type="number" id="email" name="age" placeholder="Enter your age" formControlName="age" />
          <span *ngIf="regis.get('age')?.touched && regis.get('age')?.invalid" style="color: red;">Invalid Age</span>
        </div>

        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Choose a username" formControlName="username" />
          <span *ngIf="regis.get('username')?.touched && regis.get('username')?.invalid" style="color: red;">Invalid Username</span>
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Create a password" formControlName="password" />
          <span *ngIf="regis.get('password')?.touched && regis.get('password')?.invalid" style="color: red;">Invalid Password</span>
        </div>

        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</div>


<app-footer></app-footer>