<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/" href=""><img src="assets/Logo/logoo.png" alt="Logo" class="logo" /></a>
      <!-- <a routerLink="/" class="brand-name">AkashStack</a> -->
    </div>

    <div class="menu-toggle" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="navbar-links" [class.active]="menuActive">
      <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
      <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Login</a>
      <a routerLink="/register" routerLinkActive="active" (click)="closeMenu()">Register</a>
    </div>
  </div>
</nav>
