<app-navbar></app-navbar>

<div class="login-container">
  <div class="login-overlay">
    <form class="login-form" (submit)="sendData(); $event.preventDefault()">
      <h2>Login</h2>

      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Enter your username"
          required />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Enter your password"
          required />
      </div>

      <button type="submit" (click)="sendData()">Login</button>
    </form>
  </div>
</div>

<app-footer></app-footer>